#aboutMe{
    height: 450px;
    width: 100%;
    margin: 0 auto;
}
#left{
    width: 450px;
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    visibility: hidden;

}
#right{
    width: 50%;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    float: left;
    visibility: hidden;

}
@keyframes fadein2 {
    from {
        opacity:0;
        top : 60%;
    }
    to{
        opacity: 1;

    }
}
@keyframes fadein3 {
    from {
        opacity:0;
        top : 7vw;
    }
    to{
        opacity: 1;
        top : 0;

    }
}
#aboutmeCom{
    color: white;
    float: left;
    font-size : 1.4rem;
    font-weight: 600;
    width: 450px;
    height: 400px;
    background: url(../img/com.png) !important;
    background-size : 100% 100% !important;
    background-repeat: no-repeat !important;
    position: relative;
    margin-left: 15vw;
    p{
        margin : 0;
        position: relative;
        top: 28%;
    }
}
#aboutmeText{
    margin-left: 15vw;
    position: relative;
    width: 100%;
    margin-right: 8vw;
    text-align: left;
    font-size: 1.1rem;
    word-break: keep-all;
    h3{
        margin : 0;
    }
    p{
        padding-right: 4vw;
        padding-left: 4vw;
    }
}
#subTitle{
    margin-left : 4vw;
    margin-right: 4vw;
}
@media(max-width : 767px){
    #aboutmeCom{
        width: 200px;
        height: 150px;
        font-size : 0.9rem;
        float: unset;
        margin: auto;
    }
    #aboutmeText{
        margin: auto;
        font-size : 0.8rem;
        margin-top: 30px;
    }
    #aboutMe{
        height: 400px;
    }
    #left{
        width: 100%;
        top :0;
        transform: unset;
    }
    #right{
        top :0;
        transform: unset;
        width: 100%;
    }
}
@media (min-width : 768px) and (max-width : 1400px) {
    #aboutmeCom{
        width: 250px;
        height: 200px;
        font-size : 1.1rem;

    }
    #aboutmeText{
        font-size : 0.9rem;

    }
    
    html{
        font-size : 16px
    }
    #aboutMe{
        height: 350px;
    }
    #left{
        width: 250px;
        float: left;
    }
}