#aboutmeCom p{
    margin : 0;
    position: relative;
    top: 25%;
    
}
#aboutMe{
    height: 450px;
    width: 100%;
    margin: 0 auto;
   
}
#left{
    width: 450px;
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#right{
    width: 50%;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    float: left;
}
@keyframes fadein2 {
    from {
        opacity:0;
        top : 5%;
    }
    to{
        opacity: 1;
        top : 0;
    }
}
/* @-webkit-keyframes fadein2 {
    from {
        opacity:0;
        width: 10px !important;
    }
    to{
        opacity: 1;
        width: 50px !important;
    }
} */
#aboutmeCom{
    display: none;
    color: white;
    float: left;
    font-size : 1.4rem;
    font-weight: 600;
    width: 450px;
    height: 400px;
    background: url(../img/com.png) !important;
    background-size : 100% 100% !important;
    background-repeat: no-repeat !important;
    position: relative;
    margin-left: 15vw;

}
#aboutmeText{
    margin-left: 15vw;
    display: none;
    position: relative;
    width: 100%;
    margin-right: 8vw;
    text-align: left;
    font-size: 1.3rem;
    word-break: keep-all;
}
#aboutmeText h3{
    margin : 0;
}
#subTitle{
    margin-left : 4vw;
    margin-right: 4vw;
}
#aboutmeText p{
    padding-right: 4vw;
    padding-left: 4vw;
}
@media(max-width : 767px){
    #aboutmeCom{
        width: 200px;
        height: 150px;
        font-size : 0.9rem;
        float: unset;
        margin: auto;
    }
    #aboutmeText{
        margin: auto;
        font-size : 0.8rem;
        margin-top: 30px;
    }
    #aboutMe{
        height: 400px;
    }
    #left{
        width: 100%;
        position: unset;
        transform: unset;
    }
    #right{
        position: unset;
        transform: unset;
        width: 100%;
    }
}
@media (min-width : 768px) and (max-width : 1400px) {
    #aboutmeCom{
        width: 250px;
        height: 200px;
        font-size : 1.1rem;

    }
    #aboutmeText{
        font-size : 1.1rem;

    }
    
    html{
        font-size : 16px
    }
    #aboutMe{
        height: 350px;
    }
    #left{
        width: 250px;
        float: left;
    }
}