.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: left !important;
    font-size: 0.7rem;
}
.contact-form textarea{
    width : 360px;
    height: 360px;
    border-radius: 10px;
    border : 1px solid gray;
}
.contact-form label{
    position: relative;
    width: 70px;
    right: 145px;
}
.contact-form input{
    width : 360px;
    border-radius: 10px;
    border-style: none;
    border : 1px solid gray;
    height: 20px;
    font-size: 0.7rem;
    margin-bottom: 5px;

}
#submitbtn{
    background-color: black;
    opacity: 0.75;
    color: white;
    height: 30px;
    cursor: pointer;
}
@media(max-width : 767px){
.contact-form input, .contact-form textarea{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.contact-form textarea{
    height: 45vw;
}
.contact-form{
    align-items: unset;
}
.contact-form label{
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    width: 70px;
    right: 0;
}
#countword{
    text-align: center;
}
}