body {
    font-family: "Century Gothic", 'Lato', sans-serif;
}
html{
    scroll-behavior: smooth; 
}
a {
text-decoration: none;
}
.et-hero-tabs{
    background: url(../img/2551513.jpg) !important;
    background-size : 100% 100% !important;
    background-repeat: no-repeat;
    -webkit-animation: fadein 1.5s;
    

}
.et-hero-tabs:before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left : 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.et-hero-tabs,
.et-slide {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
position: relative;
background: #eee;
    text-align: center;
    padding: 0 2em;

}
@keyframes blink {
    from,to {
        border-color: transparent
    }
    
    50%{
        border-color: white;
    }
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  @keyframes fadein {
    from {
        opacity:0;
    }
    to{
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
.et-hero-tabs h1 {
    border-right: 0.1em solid white;
    animation: blink 1s step-end infinite;
    font-size: 4vw;
    white-space: pre;
    line-height: 1;
    letter-spacing: 0.1rem;
    color: white;
    position: relative;
    margin: 0;
}
.et-hero-tabs h3 {
    font-size: 3vw;
    letter-spacing: 0.1rem;
    color: white;
    position: relative;
}
.et-hero-tabs-container {
display: flex;
flex-direction: row;
position: absolute;
bottom: 0;
width: 100%;
height: 70px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
background: #fff;
z-index: 10;

}
.et-hero-tabs-container--top {
    position: fixed;
    top: 0;
}
.et-hero-tab {
display: flex;
justify-content: center;
align-items: center;
flex: 1;
color: #000;
letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
  
}
.et-hero-tab:hover {
    color:white;
background: rgba(102,177,241,0.8);
    transition: all 0.5s ease;
}

.et-hero-tab-slider {
position: absolute;
bottom: 0;
width: 0;
height: 6px;
background: #66B1F1;
transition: left 0.3s ease;
}

@media (min-width: 800px) {
.et-hero-tabs,
.et-slide h1{
    font-size: 3rem;
    
}
.et-slide h3{
font-size: 1rem;
}
.et-hero-tab {
    font-size: 1rem;
}
}