@keyframes fadein2 {
    from {
        opacity:0;
        top : 5%;
    }
    to{
        opacity: 1;
        top : 0;
    }
}
.slick-dots li{
    width : 40px !important;
    height : 40px !important;
}
.slick-next{
    right: 0 !important;
}
.slick-prev{
    left: 0 !important;
}