@keyframes fade{
    from{
        width : 20px;
        height: 20px;
    }
    to{
        width: 23px;
        height: 23px;
    }
}
.slick-dots{
    position: relative !important;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    width: unset !important;
    padding: 0;
    margin: 0;
    list-style: none;
    padding-left: 13px;
    padding-right: 13px;
    background-color: darkgray;
    text-align: center;
    margin-bottom: 30px;
    height : 25px !important;
    li{
        width : 40px !important;
        height : 40px !important;
        top : -8px !important;
        &:hover{
            border : 2px solid skyblue;
        }
        img{
            border-radius: 7px;
        }
    }
}
.slick-prev{
    left: 0 !important;
    z-index: 1;
    width: 40px !important;
    height: 40px  !important;
    &:before{
        color : black !important;
        font-size: 40px !important;
    }
}
.slick-next{
    width: 40px !important;
    height: 40px  !important;
    right: 0 !important;
    &:before{
        color : black !important;
        font-size: 40px !important;
    }
}
.imgList{
    animation: fade 0.5s infinite ;
    animation-direction:alternate;
    display: inline !important;
    background-color: white;
    border: 1px solid black;
    font-size: 0.7rem;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    width: 20px;
    height: 20px;
    z-index: 990;
    cursor: pointer;
    &:hover{
        background-color: #d5d5d5;
    }
}

.projectImg{
    width: auto;
    height: 450px;
    max-width: 500px;
    border-radius: 10px;
    display: inline !important;
}

#projectText{
    display: inline-block;
    text-align: left;
    padding-left: 3%;
    vertical-align: top;
    max-width: 42%;
    margin-bottom: 20px;
    span{
        background-color: black;
        color: white;
        border-radius: 10px;
        display: inline-block;
        margin-right: 4px;
        padding-left: 4px;
        padding-bottom : 2px;
        padding-right: 4px;
        opacity: .75;
        margin-bottom : 5px;
    }
    p{
        margin-right: 10px;
    }
    img{
        position: relative;
        top: 7px;
        width: 30px;
        height: 30px;
        display: inline !important;
    }
}
#betweenP{
    margin-right: 2px !important;
    margin-left: 2px !important;
    font-weight: 600;
    font-size: 15px;
    display: inline !important;
}
#close{
    font-family: 'Nunito', sans-serif;
}
#projectImg{
    display: none;
    position: fixed;
    width: 100%;
    transform: translateY(-50%);
    top : 50%;
    z-index: 998;
    .projectImg{
        width: auto;
        max-width: 70vw;
        max-height: 80vh;
        min-height: 50vh;
        height: auto;
    }
}
#opacityBox{
    width: 100%;
    position: fixed;
    height: 100%;
    background: black;
    opacity: 0.5;
    z-index: 997;
    display: none;
}
@media(max-width : 600px){
    .projectImg{
        width : 100% !important;
        height: auto !important;
        max-height : 60vw !important;
        border-radius: 0 !important;
    }
    #projectText{
        max-width: 100%;
        font-size: 0.8rem;
    }
    #projectImg .projectImg{
        width : 100% !important;
        height: auto !important;
        max-height : 110vw !important;
        border-radius: 0 !important;
        max-width: unset;
    }
    .slick-prev, .slick-next{
        top : 150px !important;
    }
   
}
@media(max-width : 768px) and (min-width : 601px) {
    .projectImg{
        width: auto;
        height: 246px;
        max-width: 300px;
    }
    #projectText{
        font-size: 0.9rem;
    }
   
}
@media(max-width : 1024px) and (min-width : 769px) {
    .projectImg{
        width: auto;
        height: 300px;
        max-width: 400px;
    }
    
}
@media(min-width : 1025px){
    .slick-dots {
        height: 37px !important;
        li{
        width : 60px !important;
        height : 60px !important;
        top : -11px !important;
        img{
            width : 60px !important;
            height : 60px !important;
        }
    }
}
    .slick-prev, .slick-next{
        width: 75px !important;
        height: 75px !important;
        &:before{
            color : black !important;
            font-size: 75px !important;
        }
    }
}