#skills{
    text-align: left;
    background-color: white;
}
#skillSub{
    position: relative;
    margin-bottom: 1em;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 700;

}
.skillDiv ul{
    display: inline-flex !important;
}
.skillDiv{
    margin-left : 5vw;
    margin-right: 5vw;
   font-size : 0.7rem;
   text-align: left;
   

}
.imgDiv{
    text-align: center;
    display: inline-block;
    width: 14%;
    margin-bottom : 10px;
}
.imgDiv p{
    margin : 0;
    margin-bottom: 3px;
}
#skillSub::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #D5D5D5;
}
#skillSub span{
    position: relative;
    display: inline-block;
    padding-right: 1.4em;
    background: white;
}
#skills img{
    width: 60px;
    height: 60px;
}
@media (max-width : 767px){
    .imgDiv{
        width: 33%;
    }
}